<p style="color: green"><%= notice %></p>

<div class="text-end">
  <h1>Users</h1>
  <%= link_to "New user", new_user_path, class: "btn btn-outline-info" %>
</div>
<div id="users">
  <%= render @users %>
</div>

